Component-Detection/faster_rcnn*
Component-Detection/dataset/test/*.jpg
Component-Detection/dataset/train/*.jpg
Component-Detection/dataset/valid/*.jpg
Shadow-Detection/debug
Component-Detection/output
.gitignore